<aside class="sidebar-container" [class.collapsed]="!isOpen">
  <nav class="nav-list">
    <a
      *ngFor="let item of navItems"
      class="nav-item"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: item.exact ?? true }"
      (click)="onNavItemClick()"
    >
      <mat-icon class="nav-icon">{{ item.icon }}</mat-icon>
      <span *ngIf="isOpen">{{ item.label }}</span>
    </a>
  </nav>

  <div class="sidebar-footer">
    <button type="button" class="logout-button" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span *ngIf="isOpen">Log out</span>
    </button>
  </div>
</aside>
